.display-none{
    display: none;
}
.logo-container .logo{
    overflow: hidden;
    border-radius: 10%;
    width: 100px;
    height: 60px;
    float: left;
    margin-top: -10px;
}

.logo-container .brand{
    font-size: 16px;
    color: #FFFFFF;
    line-height: 18px;
    float: left;
    margin-left: 10px;
    margin-top: 7px;
    width: 70px;
    height: 40px;
    text-align: left;
    margin-left: -35px;
}
.logo-container .brand-material{
    font-size: 18px;
    margin-top: 15px;
    height: 25px;
    width: auto;
}
.logo-container .logo img{
    height: 60px;
}

canvas{
  border:1px solid #696969;
  width: 100%;
}